<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <p>

        esse aplicativo se destina <br> para as exigencias da obtenção <br> do titulo de bacharel <br> em ciência da computação <br><br>Guilherme Silva,<br> formando em ciência da computação

    </p>

  </ion-card>

  <ion-card>
    <center>
      <p>Universidade Unincor - Vale do Rio Verde</p>
    </center>
  </ion-card>


  <ion-card>
    <img src="/assets/images/goku.gif" alt="goku_ssj">
  </ion-card>


  <ion-card>
    <center>
      <a href="https://github.com/GuilhermeSTrydeR" target="blank"><ion-icon name="logo-github"></ion-icon></a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="https://gitlab.com/GuilhermeSTrydeR" target="blank"><ion-icon name="logo-gitlab"></ion-icon></a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="https://www.unincor.br/" target="blank"><ion-icon name="school"></ion-icon></a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="https://ionicframework.com/" target="blank"><ion-icon name="logo-ionic"></ion-icon></a>
      </center>
  </ion-card>

  

</ion-content>
